src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="postSFMCData" doc:id="5e7f61dd-13b5-461c-a45d-51f97532ed6b" >
		<logger level="INFO" doc:name="Start Logger" doc:id="f482be4d-bc49-4bc0-904c-4b9ed2dca759" message='#["postSFMC flow Started"]'/>
		<ee:transform doc:name="JSON to Java Array" doc:id="908811eb-8212-4490-85e4-6dbe2e5a25cb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	AccountID__c: payload.AccountID__c as String default "",
	Name: payload.Name as String default "",
    BillingStreet__c: payload.BillingStreet__c as String default "",
    BillingCity__c: payload.BillingCity__c as String default "",
    BillingState__c: payload.BillingState__c as String default "",
    BillingPostalCode__c: payload.BillingPostalCode__c as String default "",
    BillingCountry__c: payload.BillingCountry__c as String default ""
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert doc:name="Upserting Objects received from database to salesforce" doc:id="6c68a141-69b5-43ca-8736-2e4d007e7acb" config-ref="Salesforce_Config" objectType="AssignmentAccount__c" externalIdFieldName="AccountID__c"/>
		<ee:transform doc:name="Java to Json" doc:id="39b3d5a6-cff2-4a53-938b-a6004ec86bf0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="a078f027-900f-431a-b15d-cbe2a278ab6f" message='#["postSFMC flow Ended"]'/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3d93926a-e01b-49ad-a001-a6f14d123e71" type="SALESFORCE:CONNECTIVITY, SALESFORCE:INVALID_INPUT, SALESFORCE:INVALID_RESPONSE, SALESFORCE:LIMIT_EXCEEDED, SALESFORCE:MUTUAL_AUTHENTICATION_FAILED, SALESFORCE:NOT_FOUND, SALESFORCE:RETRY_EXHAUSTED, SALESFORCE:TIMEOUT, STREAM_MAXIMUM_SIZE_EXCEEDED">
					<set-payload value="#['Server is down, please try again after sometime']" doc:name="Set Payload" doc:id="c3610b3d-01f0-45ab-a6ab-000023574953" />
				<logger level="INFO" doc:name="Logger" doc:id="7225ed40-7b4e-4ba1-a002-5acaba83324f" message='#["Exception occured while interacting with server.Try again later." ++ error.description default ""]'/>
				</on-error-continue>
		</error-handler>
	
</flow>
	
</mule>
